<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Word Count</h1>
    <form action='/word' method='get'>

        <label for='sentence'>Input Sentence</label>
        <input id='sentence' name='sentence' type='text'>

        <label for='word'>Input Word</label>
        <input id='word' name='word' type='word'>

        <button type='submit'>Add task</button>
    </form>

</body>
</html>
